<div class="container">
    <h1>Categories</h1>
  
    <table class="table table-striped" style="margin-top: 30px;">
      <thead>
        <tr>
          <th>Category</th>
          <th>Thumbnail</th>
          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let category of categories">
          <td>{{category.category_name}}</td>
          <td>{{category.Thumbnail}}</td>
         
          <td>
            <button (click)="onDetails(category)" class="btn btn-success"><i class="glyphicon glyphicon-info-sign"></i></button>
            <button (click)="onDelete(category)" class="btn btn-danger" style="margin-left: 10px"><i class="glyphicon glyphicon-trash"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  