<div class="container">
  <h1>Add category</h1>

  <div class="row" style="margin-top: 30px;">
    <div class="col-md-6">
      <div class="form-group">
        <label for="">Category</label>
        <input [(ngModel)]="category_name" type="text" class="form-control">
      </div>
    </div>

    <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="">thumbnail</label>
            <input [(ngModel)]="thumbnail" type="text" class="form-control">
            <input (change)="thumbnail($event)" type="file" class="form-control">
          </div>
          <div class="col-md-6" *ngIf="imageUrl != undefined">
            <label for="">Preview</label>
            <img class="thumbnail" [src]="imageUrl" alt="">
          </div>
      
    </div>

    <div class="row">
       <div class="col-md-12">
        <button (click)="onAdd()" class="btn btn-success">Add</button>
        <button (click)="onCancel()" class="btn btn-danger" style="margin-left: 10px">Cancel</button>
      </div>
    </div>
</div>
