
<h1>Signup</h1>

<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="form-group">
      <label for="">Name</label>
      <input [(ngModel)]="name" type="text" class="form-control">
    </div>
    <div class="form-group">
      <label for="">Email</label>
      <input [(ngModel)]="email" type="email" class="form-control">
    </div>
    <div class="form-group">
      <label for="">Password</label>
      <input [(ngModel)]="password" type="password" class="form-control">
    </div>
     <div class="form-group">
      <label for="">Phone</label>
      <input [(ngModel)]="phone" type="text" class="form-control">
    </div>
    <div class="form-group">
      <label for="">Role </label>
      <input [(ngModel)]="role" type="text" class="form-control">
    </div>
    <div class="form-group">
        <button (click)="onSignup()" class="btn btn-success">Sign Up</button>
        <button (click)="onCancel()" class="btn btn-danger" style="margin-left: 10px;">Cancel</button>
    </div>
  </div>
</div>
