
<div class="container">
  <h2>Login</h2>
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="form">
      <div class="form-group">
        <label for="">Email</label>
        <input [(ngModel)]="email_id" type="email_id" class="form-control">
      </div>
      <div class="form-group">
        <label for="">Password</label>
        <input [(ngModel)]="password" type="password" class="form-control">
      </div>
      <div class="form-group">
        <button (click)="onLogin()" class="btn btn-success">Login</button>
        <button (click)="onCancel()" class="btn btn-danger" style="margin-left: 10px">Cancel</button>
        <button (click)="onSignup()" class="btn btn-success pull-right">Signup</button>
      </div>
    </div>
  </div>

</div>
