<div class="container">
  <h1>About</h1>
<p>Tablet Waiter is an all in one solution for your hotel or restaurant. It allows your customers to place orders from their table which automatically gets sent to the kitchen without the need for waiters. Customers can also call the waiter with the touch of a button and view their outstanding bill. Tablet Waiter runs on most popular tablet computers and also gives store owners real time data on orders and earnings while freeing up waiters to provide better customer service to your customers.</p>
<p>“Say goodbye to paper menus!! ”
  With the Tablet Waiter app, you have a fully automatic menu which will make your restaurant or cafe more efficient and modern. The Tablet Waiter app is a 4 in 1 app, with the following mode of operation:
  Customer Mode
  Waiter Mode
  Kitchen Mode
  Cashier Mode
  Tablet Waiter lite is an electronic menu for your hotel or restaurant. It allows your customers to view your menu while in your shop. Your menu can be updated without the cost of reprinting. All apps are connected to the cloud and update automatically. Sold out items are automatically hidden from your menu at the touch of a button, so your customers only see what is available to buy. Tablet Waiter lite runs on most popular tablet computers and is a cut down version of our tablet waiter app without the 'place order' functionality.
  </p>
  <p>Key features:<br>
    Have your menu on an iPad or Andriod device in your restaurant.<br>
    Customers order their items via the app instore.<br>
    The orders are automatically sent to the kitchen.<br>
    Kitchen staff can start processing the order.<br>
    Keep your same payment methods. The app does not handle payment.<br>
    Customers can see their outstanding orders and total at any time.<br>
    Customers can call the waiter via the app.<br>
    Customers can request the bill via the app.<br>
    Customers can send the store owner a comment via the app.<br>
    Waiters can use the app to place orders on.<br>
    Waiters can cancel orders for customers.<br>
    Waiters can see the status of each order.<br>
    Swapping a device in a table automatically.<br>
    Downloads the table's orders to the device.<br>
    View your restaurant's sale online.<br>
    Easy to add new devices.<br>
    Easy to add new menu items and change prices.</p>
</div>
